In [1]:
import bs4
from bs4 import BeautifulSoup as bs
import requests as rq
import lxml
import selenium
import pandas as pd

In [2]:
url = "https://www.indeed.com/jobs?q=data%20science&l=remote&vjk=bdb13a556b554509"
response = rq.get(url)
response

In [3]:
 jobs=bs(response.content)

In [4]:
results = jobs.find(id="resultsCol")

In [5]:
c_results = results.find_all("div", class_="messageContainer")

In [6]:
c_result2=results.find_all("h2", class_="jobTitle")
job_titles = [txt.text.strip() for txt in c_result2]

In [7]:
job_titles

['Data Scientist',
 'Jr. Data Analyst',
 'newFully Remote Data Scientist',
 'newData Analyst - Remote',
 'Data Science Co-op (July - December 2022)',
 'Junior Data Scientist',
 'Data Visualization Specialist',
 'Data Scientist - Entry Level',
 'newProfessional Advanced Analytics',
 'Data Scientist',
 'newData Scientist (Remote)',
 'Data Mentor (Part-time)',
 'newSENIOR DATA SCIENTIST',
 'newData Scientist',
 'Data Scientist - Analytics']

In [8]:
df = pd.DataFrame(job_titles, columns =["Job Title"])

In [9]:
df.head()

                                   Job Title
0                             Data Scientist
1                           Jr. Data Analyst
2             newFully Remote Data Scientist
3                   newData Analyst - Remote
4  Data Science Co-op (July - December 2022)

In [10]:
df.to_csv("csv/Indeed Remove Job Title.csv")